<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Cursos </title>

    <link rel="stylesheet" href="../styles/panel.css">
    <link rel="icon" href="../img/logo.ico">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../scripts/panel.js"></script>

</head>
<header>

    <button id="cerrar-sesion-button"> Cerrar Session </button>

    <button class="button" id="addCourse"> Crear curso </button>

    <button class="button" id="enterCourse">Entrar a curso</button>

</header>
<body>

    <div id="cursos-container">

    </div>

        <!-- Modal para Eliminar Curso -->
    
        <div id="eliminarCursoModal" class="modal">

        <div class="modal-content">

            <span class="close-button" id="cerrarEliminarCursoModal">&times;</span>

            <h2> Eliminar Curso </h2>

            <p>¿Seguro que quieres eliminar el curso <span id="nombreCursoAEliminar"></span>?</p>

            <button id="confirmarEliminarCurso">Confirmar</button>
            <button id="cancelarEliminarCurso">Cancelar</button>

        </div>

    </div>

        <!-- Modal para Editar Curso -->

    <div id="editarCursoModal" class="modal">

        <div class="modal-content">

            <span class="close-button" id="cerrarEditarCursoModal">&times;</span>

            <h2> Editar Curso </h2>

            <label for="nuevoNombreCurso">Nuevo nombre del curso:</label>
            <input type="text" id="nuevoNombreCurso">

            <button id="confirmarEditarCurso">Confirmar</button>
            <button id="cancelarEditarCurso">Cancelar</button>

        </div>

    </div>

        <!-- Modal para Agregar Curso -->

    <div id="agregarCursoModal" class="modal">

        <div class="modal-content">

            <span class="close-button" id="cerrarAgregarCursoModal">&times;</span>

            <h2> Add course </h2>

            <label for="nombreCurso"> Course Name </label>
            <input type="text" id="nombreCurso">

            <button id="confirmarAgregarCurso"> Confirm </button>
            <button id="cancelarAgregarCurso"> Cancel </button>

        </div>

    </div>

</body>
</html>
