<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
  <link rel="stylesheet" href="/estilos/estilo.css">
</head>
<body>
  <h1>Registro de Usuario</h1>
  <form action="/auth/registro" method="POST">
    <label for="nombreDeUsuario">Nombre de Usuario:</label>
    <input type="text" id="nombreDeUsuario" name="nombreDeUsuario" required><br>
    
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br>
    
    <label for="contraseña">Contraseña:</label>
    <input type="password" id="contraseña" name="contraseña" required><br>
    
    <label for="confirmarContraseña">Confirmar Contraseña:</label>
    <input type="password" id="confirmarContraseña" name="confirmarContraseña" required><br>
    
    <button type="submit">Registrarse</button>
  </form>

  <!-- Botón para ir a la página de inicio de sesión -->
  <a href="/auth/inicio-sesion">Iniciar Sesión</a>

  <script>
    // Redirigir a la página de inicio de sesión después de un registro exitoso
    const queryString = window.location.search;
    if (queryString.includes('registro=exitoso')) {
      window.location.href = '/auth/inicio-sesion';
    }
  </script>
</body>
</html>
