<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Sing Up </title>

  <link rel="stylesheet" href="../styles/singup.css">
  <link rel="icon" href="../Assets/image.ico">

</head>
<body>

  <div class="login-box">

    <h2> Sing Up </h2>

   <form action="../../src/registro.php" method="post"> 

      <div class="user-box">
        <input type="text" name="nombreusuario" id="nombreusuario" required="">
        <label> Username </label>
    </div>
    
      <div class="user-box">

        <input type="text" name="nombre" id="nombre" required="">
        <label> Full Name </label>

      </div>

      <div class="user-box">

        <input type="password" name="password" id="password" required="">
        <label> Password </label>

      </div>

      <div class="user-box">

        <input type="password" name="confirmar_password" id="confirmar_password" required="">
        <label> Password Confirm </label>

      </div>

      <select name="tipo_usuario" id="tipo_usuario" required="">
        
        <option value="0"> Profesor/Preceptor </option>
        <option value="1"> Alumno </option>

      </select>
      <input type="submit" value="submit">

    </form>

  </div>
  
</body>
</html>
