<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title> Sing Up </title>

  <link rel="stylesheet" href="../styles/singup.css">
  <link rel="icon" href="../Assets/image.ico">

</head>
<body>

  <div class="login-box">

    <h2> Sing Up </h2>

    <form>

      <div class="user-box">

        <input type="text" name="" required="">
        <label> Username </label>

      </div>

      <div class="user-box">

        <input type="text" name="" required="">
        <label> Full Name </label>

      </div>

      <div class="user-box">

        <input type="password" name="" required="">
        <label> Password </label>

      </div>

      <div class="user-box">

        <input type="password" name="" required="">
        <label> Password Confirm </label>

      </div>

      <select name="" required="">
        
        <option value="0"> Profesor/Preceptor </option>
        <option value="1"> Alumno </option>

      </select>

      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>

    </form>

  </div>
  
</body>
</html>
