html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #002648; /* Cambiado el fondo a un tono de azul oscuro */
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 100px;
    background: #243b55; /* Cambiado el fondo a azul oscuro */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea los elementos en los extremos */
}

img {
    width: 3.5em;
    height: 3.5em;
}

h3 {
    color: #fff;
    margin: 0; /* Elimina el margen para que el nombre no sobrepase la pantalla */
}

.navigation .curso-boton {
    width: 150px;
    height: 50px;
    background: transparent;
    border: 2px solid #03e9f4;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #03e9f4;
    font-weight: 500;
    margin: 0 40px 0 0; /* Alinea el botón a la izquierda con un margen derecho */
    transition: .5s;
}

.navigation .curso-boton:hover {
    background: #03e9f4;
    color: #243b55;
}

.container {
    max-width: 700px;
    margin: 90px auto 0;
    padding: 20px;
    background: #243b55; /* Cambiado el fondo a azul oscuro */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.course-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course-list a .curso-boton {
    width: 120px; /* Ancho reducido para que sean más pequeños */
    height: 40px; /* Altura reducida */
    background: transparent;
    border: 2px solid #03e9f4;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em; /* Tamaño de fuente reducido */
    color: #03e9f4;
    font-weight: 500;
    margin: 10px; /* Añadido margen para separar los botones */
    transition: .5s;
}

.course-list li {
    background: #002648; /* Cambiado el fondo al tono de azul oscuro */
    border: 1px solid #002648;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centrar el texto en los elementos li */
}

.course-list h3 {
    color: #ffffff;
    margin: 0; /* Elimina el margen para que el nombre no sobrepase la pantalla */
}

.course-list a {
    text-decoration: none;
}
